body {
  background-color: black;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
}


.containerlolall {
  background-color: rgb(40, 40, 40, 0.8);

  width: 75vw;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
  padding-top: 6.4rem;
}
.image-gallery {
  width: 620px;
  margin: 80px;
  list-style: none;
 
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;
}
.morr {
  margin-top: -3rem;
}

 
 


 

.list img {
  height: 77px;
  width: 20rem;
}
.list:hover {
  -webkit-filter: sepia(0);
  z-index: 1;
}

.list:nth-child(3n) {
  margin-right: 0;
}

.list:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.gallery-image {
  -webkit-transition: 0.8s;
  max-width: 90%;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
  float: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: white;
}

.corr {
  margin-top: -4rem;
}
 
.cheems {
  margin-top: -5rem;
}


.list {
  width: 200px;
 
  -webkit-filter: sepia(0.7);
 
  -webkit-transition: 0.8s;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items:center ;
  justify-content:center ;
}

.burn {
  aspect-ratio: 3/2;
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
.containerlolall {
  position: relative;
}
.ek {
  height: 20rem;
}
.do {
  height: 17rem;
}
.tin {
  height: 15rem;
}
.containerlolall::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(40, 40, 40, 0.8),
    rgba(10, 10, 10, 1)
  );
  opacity: 0.7;
  transition: opacity 3s ease;
  border-radius: 13px;
}

.ek::before,
.do::before,
.tin::before {
  transition: all 2s;
  opacity: 0;
}

.ek:hover::before,
.do:hover::before,
.tin:hover::before {
  opacity: 0.7;
}

.ek::before {
  background-color: #00ffd2;
}
.do::before {
  background-color: #299617;
}
.tin::before {
  background-color: #a500cc;
}



@media screen and (max-width: 750px) {
  .image-gallery{
    display:flex ;
    flex-direction: column;
  }
  .tin{
    height: 20rem ;
  }
  .ek{
    height: 25rem;
  }
  .do{
    height: 23rem;
  }
}
@media screen and (max-width: 550px) {
  .image-gallery{
    display:flex ;
    flex-direction: column;
  }
  .tin{
    height: 20rem ;
  }
  .ek{
    height: 25rem;
  }
  .do{
    height: 23rem;
  }
}
@media screen and (max-width: 750px) {
  .containerlolall::before {
    opacity: 0.7;
  }

  .containerlolall .ek::before {
    background-color: #00ffd2;
  }
  .containerlolall.do::before {
    background-color: #299617;
  }
  .containerlolall .tin::before {
    background-color: #a500cc;
  }

  .containerlolall:hover::before {
    opacity: 0;
  }

  .ek:hover::before,
  .do:hover::before,
  .tin:hover::before {
    opacity: 0.8;
  }
  .image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 1025px) {
  .cheems {
    z-index: 1;
  }
}
@media screen and (max-width: 900px) {
  .ek {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 750px) {
  .cheems {
    margin-top: 1rem;
  }
  .containerlolall {
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .list {
    gap: 1rem;
  }
  
 
  .fem {
    margin-top: -5rem;
  }
  .ullu {
    padding-top: 2rem;
  }
  .chill2 {
    margin-top: -3rem;
  }
}
@media screen and (max-width:850px) {
  .list img{
    width: 135px;
    height: 60px;
  }
  .image-gallery{
    display: flex;
    gap:1rem;
  }
}
@media screen and (max-width:800px) {
  .list img{
    width: 125px;
    height: 55px;
  }
  .list{
    display: flex;
    gap:1rem;
  }
}
@media screen and (max-width:600px) {
  .list img{
    width: 100px;
    height: 42px;
  }
  .image-gallery{
    display: flex;
    gap:1rem;
  }
  .ek{
height: 20rem;
  }
  .do{
height: 17rem;
  }
  .tin{
height: 15rem;
  }
}
@media screen and (max-width:775px) {
  .list img{
    width: 115px;
    height: 48px;
  }
  .image-gallery{
    display: flex;
    gap:1rem;
  }
  .ek{
height: 20rem;
  }
  .do{
height: 17rem;
  }

}
@media screen and (max-width:750px) {
  .list img{
    width: 115px;
    height: 48px;
  }
  .list{
    display: flex;
    gap:0;
  }
  .ek{
height: 20rem;
  }
  .do{
height: 17rem;
  }
  .tin{
height: 20rem;
  }
}
@media screen and (max-width: 505px) {
  .fnt {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 400px) {
  .fnt {
    font-size: 1.5rem;
  }
}
 