body {
  background-color: black;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode:color-dodge;
  width: 100%;
  height: 100%;
}

.containerlolall {
  background-color: rgba(40, 40, 40, 0.8);

  width: 75vw;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 13px;
}
.image-gallery {
  width: 100%;

  list-style: none;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}
.gallery-image {
  width: 5rem;
}
.morr {
  margin-top: -3rem;
}

.risein {
  width: 60% !important;
  height: 50% !important;
}
.list {
  width: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pool img {
  width: 100% !important;
  height: 100% !important;
}

.yesss {
  padding-top: 5rem;
}

.corr {
  margin-top: -2rem;
}
.ssize img {
  width: 100px !important;
  height: 36px !important;
}

.cheems {
  margin-top: -5rem;
}

.list {
  width: 300px;

  /* -webkit-filter: sepia(0.7);
 
  -webkit-transition: 0.8s; */
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.containerlolall {
  position: relative;
}
.zero {
  height: 15rem;
}
.ek {
  height: 15rem;
}
.do {
  height: 17rem;
}
.tin {
  height: 15rem;
}
.containerlolall::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    180deg,
    rgb(40, 40, 40, 0.8),
    rgba(10, 10, 10, 1)
  );
  opacity: 0.5;
  transition: opacity 2.5s ease;
  border-radius: 13px;
}

.ek::before,
.do::before,
.tin::before {
  transition: all 2s;
  opacity: 0;
}

.ek::before,
.do::before,
.tin::before {
  opacity: 0.7;
}

.zero::before {
  background-color: #0096ff;
}
.ek::before {
  background-color: #00ffd2;
}
.do::before {
  background-color: #d5d508;
}
.tin::before {
  background-color: #1134a6;
}

@media screen and (max-width: 750px) {
  .containerlolall::before {
    opacity: 0.7;
  }

  .containerlolall:hover::before {
    opacity: 0;
  }
  .containerlolall {
    width: 100vw;
  }
  .ek:hover::before,
  .do:hover::before,
  .tin:hover::before {
    opacity: 0.8;
  }
  .image {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .tin {
    height: 20rem;
  }
  .ek {
    height: 25rem;
  }
  .do {
    height: 23rem;
  }
  .cheems {
    margin-top: 1rem;
  }
  .containerlolall {
    padding-top: 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }
  .list {
    width: 100%;
  }
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(1fr, 40vw);
  }

  .fem {
    margin-top: -5rem;
  }
  .ullu {
    padding-top: 2rem;
  }
  .chill2 {
    margin-top: -3rem;
  }
  .cheems {
    /* margin-top: -6rem; */
    margin-bottom: 3rem;
  }
  .down {
    margin-bottom: 2rem;
  }
  .list img {
    width: 115px;
    height: 48px;
    z-index: ;
  }
  /* .list {
    display: flex;
    gap: 0;
  } */
  .ek {
    height: 20rem;
  }
  .do {
    height: 20rem;
  }
  .tin {
    height: 20rem;
  }
}

@media screen and (max-width: 1025px) {
  .containerlolall {
    width: 80vw;
  }
  .cheems {
    z-index: 1;
  }
  .down {
    margin-top: -3rem;
    margin-bottom: 2rem;
  }
}
@media screen and (max-width: 900px) {
  .ek {
    margin-bottom: 5rem;
  }
}
@media screen and (max-width: 775px) {
  .risein {
    width: 35% !important;
    height: 20% !important;
  }
  .containerlolall {
    margin-bottom: 0;
    background: none;
  }
  .containerlolall::before {
    background: none;
  }
  .pool img {
    width: 50% !important;
    height: 50% !important;
  }

  .ek:hover::before,
  .do:hover::before,
  .tin:hover::before {
    opacity: 1;
  }

  .image-gallery {
    display: grid;
    grid-template-columns: repeat(2, 30vw);
    align-items: center;
    justify-content: center;
  }
  .adjusted {
    grid-column: span 2;
  }
  .ek {
    height: 24rem;
  }
  .do {
    height: 17rem;
  }
  .list {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .list img {
    width: 135px;
    height: 60px;
  }
  .containerlolall {
    width: 90vw;
  }
}
@media screen and (max-width: 800px) {
  .list img {
    width: 125px;
    height: 55px;
  }
}

.fem {
  margin-top: -5rem;
}
.ullu {
  padding-top: 2rem;
}
.chill2 {
  margin-top: -3rem;
}
.cheems {
  margin-bottom: 3rem;
}
.down {
  margin-bottom: 2rem;
}
.list img {
  width: 115px;
  height: 48px;
}
.ek {
  height: 15rem;
}
.do {
  height: 20rem;
}
.tin {
  height: 20rem;
}

@media screen and (max-width: 600px) {
  .list img {
    width: 100px;
    height: 42px;
  }

  .ek {
    height: 18rem;
  }
  .do {
    height: 18rem;
  }
  .tin {
    height: 18rem;
  }
}

@media screen and (max-width: 550px) {
  .ssize img {
    width: 91px !important;
    height: 26px !important;
  }
  .pool img {
    width: 70% !important;
    height: 50% !important;
  }
  .fnt {
    font-size: 1.7rem;
  }
  .cheems {
    /* margin-top: -6rem; */
    margin-bottom: 2rem;
  }
  .image-gallery {
    display: grid;
    grid-template-columns: repeat(1fr, 25vw);
  }
}
@media screen and (max-width: 505px) {
  .fnt {
    font-size: 1.7rem;
  }
}
@media screen and (max-width: 450px) {
  .fnt {
    font-size: 1.5rem;
  }
  .zero {
    height: 10rem;
  }
  .ek {
    height: 12rem;
  }
  .do {
    height: 18rem;
  }
  .tin {
    height: 18rem;
  }
}

@media screen and (max-width: 410px) {
  .fnt {
    font-size: 1.1rem;
  }
}

@media only screen and (min-width: 550px) and (max-width: 807px) {
  .image-gallery {
    width: 620px !important;
  }
}
