@media screen and (max-width: 820px) {
    body {
      font-size: 16px;
    }
  }
  
  .button {
    position: relative;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: 2px solid white;
    border-radius: 1000px;
    padding: 10px 20px;
    margin: 40px;
    box-shadow: 0 2px 5px 0 rgba(3, 6, 26, 0.15);
    transition: 0.5s all ease-in-out;
  }
  
  .button:hover {
    cursor: pointer;
    transition: 2s all ease-in-out;
    background: linear-gradient(95deg, #29E1FF -12.14%, #FFF61D 91.11%);
    color: #1F4141;
    animation: pulse 2s infinite 3s cubic-bezier(0.25, 0, 0, 1);
    box-shadow: 0 0 0 0 white;
  }
  
  .button-wiggle {
    animation: wiggle 4s 2s infinite;
  }
  
  @keyframes wiggle {
    5%, 50% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    15% {
      transform: scale(1.15);
    }
    20% {
      transform: scale(1.15) rotate(-5deg);
    }
    25% {
      transform: scale(1.15) rotate(5deg);
    }
    30% {
      transform: scale(1.15) rotate(-3deg);
    }
    35% {
      transform: scale(1.15) rotate(2deg);
    }
    40% {
      transform: scale(1.15) rotate(0);
    }
  }
  
  @keyframes pulse {
    to {
      box-shadow: 0 0 0 18px rgba(255, 255, 255, 0);
    }
  }
  