@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Open+Sans:ital,wght@1,600&family=PT+Sans:ital,wght@0,700;1,700&family=Roboto:wght@400;500;700&family=Rubik:wght@500;600;700&display=swap");

.container {
  max-width: 80rem;
  margin: 0 auto;
  padding-top: 6.4rem;
  padding-right: 6.4rem;
  padding-left: 6.4rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: "Oswald";
  letter-spacing: 1px;
  gap: 2rem;
}

.heading {
  text-align: center;
  color: white;
  font-size: 3.2rem;
  font-weight: 700;
  transition: 1s ease-in-out;
}
@media (max-width: 700px) {
  .heading {
    font-size: 1.8rem;
  }
  .container {
    padding: 3rem;
  }
  /* .images img{
  width: 1/2;
} */
  span img {
    margin-right: 1rem;
  }
}
@media (max-width: 500px) {
  .container {
    margin-top: 3rem;
    padding: 0.5rem;
  }
  .main {
    max-width: 60rem;
    row-gap: 0.5rem;
    padding-left: 1.5rem;
  }
  .heading {
    font-size: 1.6rem;
  }
  .images img {
    width: 100vh;
  }
}
.main {
  max-width: 60rem;

  display: grid;
  grid-template-columns: repeat(7, 1fr);

  justify-content: center;
  align-items: center;
}
span {
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
