 /* Phones */
@media screen and (max-width: 425px) {
  body {
    
    font-size: 7px;
  }
  .let {
    /* margin-top: 1rem!important;  */
 
    width: 15rem;
    height: 1rem;
  }
  .txt {
    font-size: 7px;
  }
}

/* Tablets */
@media screen and (min-width: 426px) and (max-width: 840px) {
  body {
    font-size: 7px;
  }
  .let {
    width: 15rem;
    height: 4.5rem;
  }
  .txt {
    font-size: 10px;
  }
}

 


  
  .let {
    position: relative;
    color: white;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: 1px;
 
    padding: 10px 20px;
    margin: 40px;
  
  }
  
 
 
 