  
@media only screen and (min-width: 1024px) {
.let {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin: 40px;
  margin-left: 1.6rem;
}
}

.let {
  position: relative;
  color: white;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px 20px;
  margin: 10px;
 
}
