@import url('https://fonts.googleapis.com/css2?family=K2D:wght@1,800&display=swap');
.heads {
  background: linear-gradient(95deg, #29e1ff -12.14%, #fff61d 91.11%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: 'K2D', sans-serif !important;
  font-size: 60px;
  font-style: normal;
  font-weight: 800;
  line-height: 75px;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .heads {
    line-height: 20px;
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .lel {
    margin-bottom: -80%;
  }
  .lols {
    margin-bottom: 10%;
  }
}
.lols {
  background: #101010;
}

@media (min-width: 768px) {
  .lols {
    margin-left: 20%;
    margin-bottom: 2%;
  }
}
.lel {
  margin-bottom: 8rem;
}

@media screen and (max-width: 900px) {
  .sponhead {
    margin-bottom: 5rem;
  }
}
