body
{
    background-color: black;
}
.image
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10%;
}
.image-gallery {
        width: 620px;
        margin: 80px auto;
        list-style: none;
        float: left;
        padding: 10px;
    }

        .list {
            width: 200px;
            float: left;
            margin: 0 10px 10px 0;
            -webkit-filter: sepia(.7);
            position: relative;
            -webkit-transition: .8s;
        }

            .list:hover {
                -webkit-filter: sepia(0);
                z-index: 1;
            }

        .list:nth-child(3n) {
            margin-right: 0;
        }

        .list:nth-last-child(-n+3) {
            margin-bottom: 0;
        }

        .gallery-image {
                -webkit-transition: .8s;
                max-width: 100%;
                box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.5);
                float: left;
                border: 8px solid white;
                border-bottom-width: 30px;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                box-sizing: border-box;
            }

    
            .list:nth-child(1) img {
                -webkit-transform: translate(-10px, 20px) rotate(-10deg);
            }

            .list:nth-child(2) img {
                -webkit-transform: translate(-20px, 70px) rotate(10deg);
            }

            .list:nth-child(3) img {
                -webkit-transform: translate(-40px, 5px) rotate(13deg);
            }

            .list:nth-child(4) img {
                -webkit-transform: translate(-20px, 20px) rotate(5deg);
            }

            .list:nth-child(5) img {
                -webkit-transform: translate(-30px, 50px) rotate(-10deg);
            }

            .list:nth-child(6) img {
                -webkit-transform: translate(-40px) rotate(5deg);
            }
            

                .list img:hover {
                    box-shadow: 0 0 5px rgba(0, 0, 0, .5), 0 0 15px rgba(0, 0, 0, .7);
                    -webkit-transform: scale(2);
                }
