 
.card-container {
    perspective: 1000px;
  }
  
  .card {
    width: 200px;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    
   }
  
  .card.flipped {
    transform: rotateY(180deg);
  }
  
  .front,
  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
   }
  
  .back {
    transform: rotateY(180deg);
  }
  