@import url("https://fonts.googleapis.com/css2?family=Inter&family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap");
.looked {
  background: linear-gradient(180deg, #29e1ff 0%, #fff61d 100%);
  font-family: Inter;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.bloop {
  margin-bottom: 3%;
}
@media screen and (min-width: 768px) {
  .bloop {
    margin-right: 2rem;
  }
}
@media (max-width: 768px) {
  .bloop {
    margin-bottom: 10%;
  }
}
.cursor-pointer {
  transition: all 0.5s ease;
}

.cursor-pointer:hover {
  transform: scale(1.1);
}

.cursor-pointer::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: white;
  transition: all 0.5s ease;
}

.cursor-pointer:hover::after {
  width: 100%;
}
.imgboc {
  box-shadow: 5px 3px 10px rgba(255, 255, 255, 0.5);
  transition: all 0.5s ease;
  border-radius: 10%;
}
.imgboc:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  border-radius: 50%;
}
.looke {
  font-family: "Nunito Sans", sans-serif !important;
}
