@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
.containers {
    margin-top: 3%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 100px 50px;
  margin-bottom: 5%;
}
.card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 250px;
  max-width: 100%;
  height: 300px;
  background: rgba(230, 230, 230, 0.09);

  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.containers .card:hover {
  height: 400px;
}

.containers .card .img-box {
  position: absolute;
  top: 20px;
  width: 300px;
  height: 220px;
  background: #333;
  border-radius: 12px;
  overflow: hidden;
  transition: 0.5s;
}

.containers .card:hover .img-box {
  top: -100px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
  border: 2px solid #3498db;
  animation: hovers 1s ease-in-out infinite alternate forwards;
}

@keyframes hovers {
  to {
    transform: translateX(6px);
  }
  from {
    transform: translateX(-6px);
  }
}


.containers .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containers .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.containers .card:hover .content {
  top: 130px;
  height: 250px;
}

.containers .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white!important;
}

.containers .card .content p {
  color: white;
}

.containers .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
  color: #36B7FF;
  font-weight: 500;
}

.containers .card .content a:hover {
  opacity: 0.8;
  color: #15a8f7;
}

@media (max-width: 480px) {
  .containers .card {
    width: 230px;
    border-radius: 15px;
  }

  .containers .card .img-box {
    width: 185px;
    border-radius: 10px;
  }

  .containers .card .content p {
    font-size: 0.8rem;
  }

  .containers .card .content a {
    font-size: 0.9rem;
  }
}
 .header1
{
    text-align: left;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    line-height: 60px; 
    background: linear-gradient(91deg, #36B7FF 5.47%, #E3E800 99.63%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
    text-transform: capitalize;
} 
.header2
{
    text-align: left;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 800;
margin-bottom: 3rem;
line-height: 60px; 
text-transform: capitalize;
background: linear-gradient(91deg, #36B7FF 5.47%, #E3E800 99.63%);
background-clip: text;
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
} 
@media only screen and (max-width: 768px) {
  .header1 {
      font-size: 24px; 
      line-height: 48px; 
  }
  .container .card .content h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: white!important;
  }
  .header2 {
      font-size: 10px; 
      line-height: 48px; 
  }
}
.nice {
  height: 7rem; 

  @media (min-width: 767px) {
    height: 15rem; 
  }
}
.his
{
  margin-bottom: 5rem;
}
.imges
{
  transform: scale(1) !important;
}