@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");

.containers {
 margin-left: 3%;
 margin-right: 3%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  justify-content: center;
  align-items: center;
 
}

.card {
  position: relative;
  width: 100%;
  max-width: 300px;
  height: 300px;
 
  border-radius: 20px;
  transition: 0.5s;
  box-shadow: 0 35px 80px rgba(0, 0, 0, 0.15);
}

.containers .card:hover {
  height: 400px;
}

.containers .card .img-box {
  position: absolute;
  top: 20px;
  width: 100%;
  height: 220px;
 
 
  overflow: hidden;
  transition: 0.5s;
}

.containers .card:hover .img-box {
  top: -50px;
  scale: 0.75;
  box-shadow: 0 15px 45px rgba(0, 0, 0, 0.2);
   animation: hovers 1s ease-in-out infinite alternate forwards;
}

@keyframes hovers {
  to {
    transform: translateX(6px);
  }
  from {
    transform: translateX(-6px);
  }
}

.containers .card .img-box img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  
}

.containers .card .content {
  position: absolute;
  top: 252px;
  width: 100%;
  height: 35px;
  padding: 0 30px;
  text-align: center;
  overflow: hidden;
  transition: 0.5s;
}

.containers .card:hover .content {
  top: 130px;
  height: 250px;
}

.containers .card .content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  color: white !important;
}

.containers .card .content p {
  color: white;
}

.containers .card .content a {
  position: relative;
  top: 15px;
  display: inline-block;
  padding: 12px 25px;
  text-decoration: none;
  background: var(--clr);
   font-weight: 500;
}

.containers .card .content a:hover {
  opacity: 0.8;
 }

@media (max-width: 767px) {
  .containers {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .containers {
    grid-template-columns: repeat(auto-fit, minmax(48%, 1fr));
  }
}

.header1 {
  text-align: left;
  font-family: Inter;
  font-size: 30px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-transform: capitalize;
}

.header2 {
  text-align: left;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 3rem;
  line-height: 60px;
  text-transform: capitalize;
   background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {
  .header1 {
    font-size: 24px;
    line-height: 48px;
  }
  .container .card .content h2 {
    font-size: 1.2rem;
    font-weight: 700;
    color: white !important;
  }
  .header2 {
    font-size: 10px;
    line-height: 48px;
  }
}

.nice {
  height: 7rem;

  @media (min-width: 767px) {
    height: 15rem;
  }
}

.his {
  margin-bottom: 5rem;
}

.imges {
  transform: scale(1) !important;
}


