@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap);
@import url('https://fonts.googleapis.com/css2?family=K2D:wght@1,800&display=swap');
.eur {
  background: linear-gradient(91deg, #fb3131 -11.04%, #e9fd03 100.54%);
  background-clip: text;
  -webkit-background-clip: text;
  font-family: 'K2D', sans-serif !important;
  -webkit-text-fill-color: transparent;
}
@media screen and (min-width: 400px) {
  .spo > * {
    box-shadow: 0 0.015em 0.2em 0 rgba(172, 169, 169, 0.847),
      0 0.3em 0.5em 0em rgba(249, 243, 243, 0.886) !important ;

    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
    animation: moveUpDown 2s ease-in-out infinite;
  }
}
@media screen and (max-width: 400px) {
  .spo > * {
    box-shadow: 1px 2px 5px rgba(150, 149, 149, 0.5);
    transition: transform 0.3s ease-in-out, color 0.3s ease-in-out;
  }
}

.spo > *:hover {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
}
@keyframes moveUpDown {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-12px);
  }
}
.spo > *:hover img {
  transform: scale(1.1);
  transition: all 0.5s ease-in-out;
  filter: brightness(2.5);
}
.spo > *:nth-child(1):hover {
  color: hsl(0, 75%, 68%);
}

.spo > *:nth-child(2):hover {
  color: #b4b282;
}

.spo > *:nth-child(3):hover {
  color: #d7e544;
}
