@import url(https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap);
 
 
 @media screen and (min-width: 768px) {
    .prizes {
        margin-top: 1rem;
        height: 29rem;
    }
.first 
{
    height: 15rem;

}
    .second {
        margin-top: 30%;
        height: 15rem;
    }

    .third {
        margin-top: 33%;
        height: 15rem;
    }
}



  
  @keyframes borderAnimation {
    from {
      border-color: #29E1FF;
    }
    to {
      border-color: #FFF61D; 
    }
  }
  

  .block > div {
    position: relative;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.106);
    box-shadow: 5px 3px 10px rgba(255, 255, 255, 0.5); /* Adjust the shadow color and intensity as needed */
}

.block > div::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    box-sizing: border-box;
    pointer-events: none;
}
block > div:hover::before {
    color: #29E1FF !important;
}
.first {
  
  border: 1px solid #000;
  transition: border 0.5s, transform 0.5s;
}

.first:hover,
.first:focus{
  border: 1px solid #FFD700;
  transform: scale(1.07);
  color:#FFD700 ;
}
.second {
  
  border: 2px solid #000;
  transition: border 0.5s, transform 0.5s;
}

.second:hover,
.second:focus {
  border: 2px solid #C0C0C0;
  transform: scale(1.05);
}
.third {
  
  border: 1px solid #000;
  transition: border 0.5s, transform 0.5s;
}

.third:hover,
.third:focus {
  border: 2px solid #a3784c;
  transform: scale(1.05);
}
