*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;

}
html
{
  cursor: none;
  /*  change coursor */
  cursor: url(https://static1.squarespace.com/static/56eadb72d51cd4a1f93f5e10/t/61cf76479673080e2fa33a8f/1640986183767/CursorFinal.png), auto;
  
}
.bloop:hover {
    /*  change on hover */
    cursor: url(https://static1.squarespace.com/static/61c85989f94e5e0edb575c12/t/61d1d85c8e186f78e94df4a3/1641142364245/cursor_filled.png), auto;
  }

  /* Timeline css */
  body{
    /* background: #3da3d5; */
    font-family: "Montserrat",sans-serif;
    font-size: 16px;
    color: rgb(53, 53, 53);
  
  }
  
  .title{
    font-size: 10em;
    text-align: center;
    color: #fff;
    font-family: "Bebas Neue",sans-serif;
  
  
  }
  
  h3{
    padding-top: 0.25em;
    font-weight: bolder;
    font-size: large;
    /* color: #06d6a0; */
  }
  
  .vertical-timeline-element-content{
    box-shadow: 0 0.25em 0.35em 0 rgba(172, 169, 169, 0.847), 0 0.5em 1.40em 0em rgba(249, 243, 243, 0.886)!important ;
    padding: 2em 3em !important;
  }
  
  .date{
    color: rgb(232, 232, 232);
  
  }
  
  #description{
    margin: 1.5em 0 2em 0;
  
  }
  
  .button{
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 5px;
    color: rgb(0, 0, 0);
    margin: 3em;
    font-weight: 500;
  
  }
  
  
  .registerButton{
    background-color: #0dffa0;
  
  }
  .registerButton:hover{
    background-color: #03e09e ;
    
  }
  .peopleButton{
    background-color: #0dffff;
  
  }
  .peopleButton:hover{
    background-color: #00c4c4 ;
    
  }
  .resultButton{
    background-color: #f467e1;
  
  }
  .resultButton:hover{
    background-color: #bf4cb0 ;
    
  }
  .electrothonButton{
    background-color: #ff650d;
  
  }
  .electrothonButton:hover{
    background-color: #c7530f ;
  
  }
  .workButton{
    background-color: #a6aba7;
  
  }
  .workButton:hover{
    background-color: #c1c7c2 ;
  
  }
  
  @media only screen and (max-width:1177px) {
    .vertical-timeline-element-data {
      /* padding-top: 10em; */
      /* top: 50px; */
      display: block !important;
      float: none !important;
      color: rgb(44, 44, 44);
      margin-top: 5.5em;
  
    }
    .button{
      margin: 3em;
      
    }
  }