@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;1,500&display=swap");

.she {
  background: linear-gradient(91deg, #fb3131 -11.04%, #e9fd03 100.54%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.go {
  font-family: Roboto;
}
