body {
	background-color: black;
}

.loader {
	position: relative;
	height: 200px;
	width: 200px;
	border-radius: 200px;
	border: 12px solid rgba(255,255,255, .96);
  box-shadow: 0em 0em 0.5em #fff, 0 0 2em 0.1em #fff, 0 0 9em rgba(255, 255, 255, .87), inset 0em 0em 0.5em #fff, inset 0 0 2em 0.1em #fff, inset 0 0 5em rgba(255, 255, 255, .8);
	top: 100px;
	left: calc(50% - 100px);
	-webkit-transform-origin: 50% 50%;
	transform-origin: 50% 50%;
	-webkit-animation: loader 3s linear infinite;
	animation: loader 3s linear infinite;
}


.loader:before {
	content: "";
	position: absolute;
	top: 20px;
	left: 20px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #fff;
  box-shadow: 0 0 0.15em #fff, 0 0 1.1em 0.25em #fff, 0 0 3em 1.5em rgba(255, 255, 255, 0.25);
}

.loader:after {
	content: "";
	position: absolute;
	top: 20px;
	left: 20px;
	width: 10px;
	height: 10px;
	border-radius: 10px;
	background-color: #fff;
  box-shadow: 0 0 0.15em #fff, 0 0 1.1em 0.25em #fff, 0 0 3em 1.5em rgba(255, 255, 255, 0.25);
  transform: translate(155px, 145px);
}

@-webkit-keyframes loader {
	0% {
		-webkit-transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
	}
	}

@keyframes loader {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}